<h1>Books Show Page</h1>

<div class="media-info">
    <% if (book.volumeInfo.imageLinks !== undefined){%>
        <img src=<%= book.volumeInfo.imageLinks.thumbnail%> width='100px'>
    <%} else {%>
        <img src="/images/No_Cover.png" width=100px/>
    <%}%>
    <label class="showTitle">Title: <%= book.volumeInfo.title%></label>
    <label class="showTitle">Authors: <%= book.volumeInfo.authors%></label>
    <label class="showTitle">Published Date: <%= book.volumeInfo.publishedDate%></label>
    <label class="showTitle">Page Count: <%= book.volumeInfo.pageCount%></label>
    <label class="showTitle">Categories: <%= book.volumeInfo.categories%></label>
    <label class="showTitle">Average Rating (Google Books): <%= book.volumeInfo.averageRating%></label>
    <label class="showTitle">Description: <%= book.volumeInfo.Description%></label>
</div>