<h1>Books Show Page</h1>

<div class="media-info">
    <% if (book.volumeInfo.imageLinks !== undefined){%>
        <img src=<%= book.volumeInfo.imageLinks.thumbnail%> width='100px'>
    <%} else {%>
        <img src="/images/No_Cover.png" width=100px/>
    <%}%>
    <label>Title: <%= book.volumeInfo.title%></label>
    <label>Authors: <%= book.volumeInfo.authors%></label>
    <label>Published Date: <%= book.volumeInfo.publishedDate%></label>
    <label>Page Count: <%= book.volumeInfo.pageCount%></label>
    <label>Categories: <%= book.volumeInfo.categories%></label>
    <label>Average Rating (Google Books): <%= book.volumeInfo.averageRating%></label>
    <label>Description: <%= book.volumeInfo.Description%></label>
</div>