<%- include('../../partials/header') %>
    
<h1>BOOKS SEARCH PAGE</h1>

<div id="search-form-div">
    <form id="search-form" action="/users/books/search" method="POST">
        <label>Title</label>
        <input type="text" name="title">
        <label>Author</label>
        <input type="text" name="author">
        <button type="submit" value="Search Movie">Search</button>
    </form>
</div>
<%if (results){%>
<div id="search-results-div">
    <table id="search-results-table">
        <thead>
            <th>Poster</th>
            <th>Title</th>
            <th>Release Year</th>
            <th>Author</th>
        </thead>
        <tbody>
            <% results.forEach(function(r){ %>
        <tr>
            <td>
                <a href="/users/books/<%=r.id%>">
            <% if (r.volumeInfo.imageLinks !== undefined){%>
            <img src=<%= r.volumeInfo.imageLinks.thumbnail%>>
            <%} else {%>
            <img src="/images/No_Cover.png"/>
            <%}%>
                </a>
            </td>
            <td><%= r.volumeInfo.title%></td>
            <td><%= r.volumeInfo.publishedDate%></td>
            <td><%= r.volumeInfo.authors%></td>
            
        </tr>
            <%});%>
        </tbody>
    </table>
</div>
<%}%>
<%- include('../../partials/footer') %>