<%- include('../../partials/header') %>

<div class="sub-header">
    <h1>MOVIES SEARCH PAGE</h1>
</div>

<div class="search-form-div">
    <form class="search-form" action="/users/movies/search" method="POST">
        <label>Title</label>
        <input type="text" name="title">
        <label>Release Year</label>
        <input type="number" name="year">
        <button type="submit" value="Search Movie">Search</button>
    </form>
</div>
<%if (results){%>
<div class="search-results-div">
    <table class="search-results-table">
        <thead>
            <th>Poster</th>
            <th>Title</th>
            <th>Release Date</th>
        </thead>
        <tbody>
            <% results.forEach(function(r){ %>
                <!-- window.location can be used to get page information or chagen current page -->
        <tr>  
            <td>
                <a href="/users/movies/<%=r.id%>">
                    <a href="/users/movies/<%=r.id%>">
                        <% if (r.poster_path !== null){%>
                        <img src='https://image.tmdb.org/t/p/original/<%= r.poster_path%>' width='200vw'/>
                        <%} else {%>
                        <img src="/images/No_Cover.png"/>
                        <%}%>
                </a>
            </td>
            <td><%= r.title%></td>
            <td><%= r.release_date%></td>
        </tr>
            <%});%>
        </tbody>
    </table>
</div>
<%}%>
<%- include('../../partials/footer') %>