<%-include("../../partials/header")%>
<%-include("../../partials/movieshowinfo")%>

<div class="sub-header">
    <h1>Insert a Viewing</h1>
</div>

<div class="view-div">
    <form class="view-form" action="/users/movies/<%=movieDetails.id%>/create" method="POST">
        <label>Date Viewed</label>
        <input type="date" name="viewDate">
        <label>Rating</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <label>Notes</label>
        <textarea rows = "4" cols="60" name="notes"></textarea>
        <input type="hidden" name="coverImage" value="https://image.tmdb.org/t/p/original/<%= movieDetails.poster_path%>">   
        <input type="hidden" name="title" value="<%=movieDetails.original_title%>">
        <input type="hidden" name="releaseYear" value="<%=movieDetails.release_date%>">
        <input type="hidden" name="mediaType" value="movies">
        <input type="hidden" name="creator" value="<%=director%>">
        <input type="hidden" name="apiId" value="<%=movieDetails.id%>">
        <button type="submit" value="Enter New Viewing">Enter New Viewing</button>
    </form>
</div>

<div class="views-table-div">
    <table class="views-table">
        <thead>
            <th>Date Viewed</th>
            <th>Rating</th>
            <th>Notes</th>
        </thead>
        <tbody>
            <%viewings.forEach(function(v){%>
                <td><%=v.viewDate%></td>
                <td><%=v.rating%>/5</td>
                <td><%=v.notes%></td>
                <td class="views-button-cell">
                    <form action="/users/movies/edit/<%=v.id%>" method="GET">
                        <button class="edit-button">Update</button>
                    </form>
                </td>
            <%})%>
        </tbody>
    </table>


</div>


<%-include("../../partials/footer")%>